<div class="card" style="height: 529px;">
  <img class="card-img-top" src="assets/img/dish.jpg" alt="Recipe image title">
  <div class="card-body">
    <h5 class="card-title">Recipe title</h5>
    <p class="card-text">This is some dummy copy. You’re not really supposed to read this dummy copy, it is just a place holder for people who need some type to visualise what the actual copy might look like if it were real content. If you want to read, I might suggest….</p>
    <a href="#" class="btn btn-primary">Read more</a>
  </div>
</div>